.first{
    background-color: black;
    color: white;
    font-size: bold;
}

.second{
    background-color: yellow;
}

#both{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}